<div class="row">
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-user fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.usercount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-comment fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.commentcount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 navy-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-list-alt fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.categorycount</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-phone fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">120</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 lazur-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-dollar fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">@ViewBag.xndollar</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="widget style1 yellow-bg">
            <div class="row vertical-align">
                <div class="col-3">
                    <i class="fa fa-shield fa-3x"></i>
                </div>
                <div class="col-9 text-right">
                    <h2 class="font-bold">610</h2>
                </div>
            </div>
        </div>
    </div>
</div>