@using EntityLayer.Concrete
@model List<Blog>
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Yazarın Bu haftaki Blogları</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Blog Adı </th>
                                <th> Kategori </th>
                                <th> Butonlar </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td>@item.BlogTitle</td>
                                    <td>@item.Category.CategoryName</td>
                                    <td><a href="/Blog/BlogDetails/@item.BlogID/" class="btn btn-outline-primary">Bloga git</a></td>
                                    <td>Statü</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>