@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model List<CoreBlogProje.Areas.Admin.Models.RoleAssignViewModel>
@{
    ViewData["Title"] = "DeleteRole";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="col-lg-12">
    <div class="ibox ">
        <div class="ibox-title">
            <h5> Blog Listesi</h5>
            <div class="ibox-tools">
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="#" class="dropdown-item">Config option 1</a>
                    </li>
                    <li>
                        <a href="#" class="dropdown-item">Config option 2</a>
                    </li>
                </ul>
                <a class="close-link">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-hover ">
                <thead>
                    <tr>
                        <th>Yetki</th>
                        <th>Rol Adı</th>
                    </tr>
                </thead>
                <tbody>
                   @for (int i = 0; i < Model.Count; i++)
                    {
                        <tr>
                            <td><input type="checkbox" asp-for="@Model[i].HasAssign" /></td>
                            <td>
                                @Model[i].RoleName 
                                <input type="hidden" asp-for="@Model[i].RoleId">
                                <input type="hidden" asp-for="@Model[i].RoleName">
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">
                            <button class="btn btn-outline-primary">Rol Ata</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



