

<aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
    <div class="right-blog-info text-left">
        <div class="tech-btm">
            <img src="~/web/images/banner1.jpg" class="img-fluid" alt="">
        </div>
        @await Html.PartialAsync("/Views/NewsLetter/SubscribeMail.cshtml")
        <!--Category list burası-->
        @await Component.InvokeAsync("CategoryList")
        <!--burası yazarın diger postları için-->
            @await Component.InvokeAsync("WriterPostList",new {WriterID=Model[0].WriterID})
        <div class="single-gd tech-btm">
            <h4>Yazarın Son postu</h4>
            <div class="blog-grids">
                <div class="blog-grid-left">
                    <a href="single.html">
                        <img src="~/web/images/b1.jpg" class="img-fluid" alt="">
                    </a>
                </div>
                <div class="blog-grid-right">

                    <h5>
                        <a href="single.html">Pellentesque dui, non felis. Maecenas male</a>
                    </h5>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>

</aside>