<div class="row">
    <div class="col-lg-6">
        <div class="widget navy-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">Dashboard</h1>

                <h3 class="font-bold no-margins">
                  
                </h3>
                <small>Admin paneline hoş geldiniz.</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart1"></div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget lazur-bg no-padding">
            <div class="p-m">
                <h3 class="m-xs">Son Eklenen Blog</h3>
                <h5 class="no-margins">
                    @ViewBag.recentlyblog
                </h5>
                <h3><br /></h3>
            </div>
            <div class="flot-chart">
       
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="widget  style1 yellow-bg no-padding">
            <div class="p-m">
                <h1 class="m-xs">₺ 2687,22</h1>

                <h3 class="font-bold no-margins">
                    Blog site kazancı
                </h3>
                <small>Ürün tanıtımları , promosyonlar .</small>
            </div>
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart3"></div>
            </div>
        </div>
    </div>
</div>