@using EntityLayer.Concrete
@using Microsoft.AspNetCore.Identity
@inject UserManager<WriterUser> usertest
@inject SignInManager<WriterUser> login
@inject RoleManager<WriterRole> WriterRol


<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="#" class="nav-link">
                @if (login.IsSignedIn(User))
                {
                    var girisyapan = await usertest.GetUserAsync(User);
                    var girisrol = await usertest.GetRolesAsync(girisyapan);
                    <div class="nav-profile-image">
                        <img src="@girisyapan.ImageURL" alt="profile">
                        <span class="login-status online"></span>
                        <!--change to offline or busy as needed-->
                    </div>
                    <div class="nav-profile-text d-flex flex-column">
                        <span class="font-weight-bold mb-2">@girisyapan.Name</span>
                        <span class="text-danger text-small ">@girisrol.FirstOrDefault()</span>
                    </div>
                    <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>

                }
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Writer/ControlPanel/Dashboard/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-view-dashboard menu-icon"></i>

            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/Writer/Profile/Index/">
                <span class="menu-title">Profilim</span>
                <i class="mdi mdi-face-profile menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Writer/ControlPanel/WriterBlogList/">
                <span class="menu-title">Bloglarım</span>
                <i class="mdi mdi-blogger menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/ControlPanel/AddBlog/">
                <span class="menu-title">Yeni Blog Yaz</span>
                <i class="mdi mdi-lead-pencil menu-icon"></i>
            </a>
        </li>
        @if (User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a class="nav-link" href="/Admin/Widgets/Index/">
                    <span class="menu-title text-info">Admin Paneli</span>
                    <i class="mdi mdi-lead-pencil menu-icon"></i>
                </a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Mesajlar</span>
                <i class="mdi mdi-message menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/SendMessage/">Mesaj Gönder</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/ReceiverMessage/" />Gelen Mesajlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Writer/Message/SenderMessage/">Giden Mesajlar</a></li>
                </ul>
            </div>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Siteye Git</span>
                <i class="mdi mdi-step-backward-2 menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/LogOut/">
                <span class="menu-title">Çıkış Yap</span>
                <i class="mdi mdi-logout menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>